#how-video-contianer {
    width: 100%;
    height: 0;
    padding-bottom: 56.65%;
    box-sizing: border-box;
    position: relative;
    margin: 10px auto;
    text-align: center;
}

#how-video {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    border-color: #dddddd;
    border: solid 1px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/images/how-video-bg.png');
    background-size: cover;
}

#how-speak,
[href="#how-speak"] {
    display: none !important;
}